.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #bbbbbb;
  width: 50vw;
  height: 10vh;
}

button {
  flex-grow: 1;
  flex-basis: 7%;
  background-color: #cccccc;
  font-weight: bolder;
  border-radius: 8px;
}
